<div>
  <span class="border border-submit"></span>
  
  <div class="container-fluid-right" style="align-content: right; align-self: auto;">
    <img class="img-fluid" class="card mb-8" class="rounded-bottom" alt="Responsive image" src="../../../assets/images/lakshmi.jfif" height="200">
  </div>
  <!-- <img class="logoWrapper" src="../../../assets/images/3wheeler.jpg"> -->
  <p><a (click)="onLogout()" class="btn btn-danger">
    <!-- <span class="glyphicon glyphicon-log-out" class="rounded-pill"></span>  -->
    Log out
  </a></p>
    
  <!-- <div class="card mb-8">
    
    <img src="../../../assets/images/3wheeler.jpg" class="card-img-top" alt="..." height="300">
   
      <a href="#" class="btn btn-danger">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>
    
  </div> -->
 <div>
 <!-- <p>
  <a href="#" class="btn btn-danger">
    <span class="glyphicon glyphicon-log-out"></span> Log out
  </a>
</p>  -->
</div>
</div>
<!-- <button mat-button (click)= "onLogout()">Logout</button> -->
